
.header {
   padding: 1px;
   background-color: beige;
   margin-bottom: 2px;
   justify-content: space-evenly;
   display: flex;
   box-sizing: border-box;
   border: 1px strong black;
   flex-wrap: wrap;
}

.animal-container1 {
  
    box-sizing: border-box;
    border: 1px strong black;
    justify-content: space-evenly;
   padding: 30px;
   flex-wrap: wrap;
  
   
}
.animal-container2 {
    box-sizing: border-box;
    border: 1px strong black;
    justify-content: space-evenly;
    padding: 30px;
    flex-wrap: wrap;
    
    
}

.animal-container3 {
    box-sizing: border-box;
    border: 1px strong black;
    justify-content: space-evenly;
    padding: 30px;
   flex-wrap: wrap;
  
}
.footer {
    padding: 30px;
    box-sizing: border-box;
    border: 1px strong black;
    background-color: blanchedalmond;
    margin-top: 50px;
}
.container {
    box-sizing: border-box;
    border: 1px strong black;
    padding: 30px;
    font-size: 20px;
}
.container2 {
    box-sizing: border-box;
    border: 1px strong black;
    padding: 30px;
    font-size: 20px;
}
.container3 {
    box-sizing: border-box;
    border: 1px strong black;
    padding: 30px;
    font-size: 20px;
}