.container{
    padding: 1px;
    justify-content: space-evenly;
    display: flex;
    background-color: blanchedalmond;
    font-size: 15px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    border: 2px strong black;
    
}
nav {
    padding-left: 80%;
}

  

.container-box {
    font-size: 20px;
    padding: 50px;
    box-sizing: border-box;
    border: 5px strong black;
}
#box1 {
    padding: 50px;
    box-sizing: border-box;
    border: 2px black;
}
.box3 {
    padding: 50px;
    border: 2px strong black;
   
}
.container-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
}